/less-getting-started/02/demos/m1/Before/3rdparty;
/less-getting-started/02/demos/m1/Before/dls
/less-getting-started/02/demos/m1/Before/img
/less-getting-started/02/demos/m1/Before/js
# 3rd
/less-getting-started/03/demos/m2/Before/3rdparty;
/less-getting-started/03/demos/m2/Before/dls
/less-getting-started/03/demos/m2/Before/img
/less-getting-started/03/demos/m2/Before/js
/less-getting-started/03/demos/m2/Before/3rdparty;
/less-getting-started/03/demos/m2/Before/dls
/less-getting-started/03/demos/m2/Before/img
/less-getting-started/03/demos/m2/Before/js

# 3rd after
/less-getting-started/03/demos/m2/After/3rdparty;
/less-getting-started/03/demos/m2/After/dls
/less-getting-started/03/demos/m2/After/img
/less-getting-started/03/demos/m2/After/js
/less-getting-started/03/demos/m2/After/3rdparty;
/less-getting-started/03/demos/m2/After/dls
/less-getting-started/03/demos/m2/After/img
/less-getting-started/03/demos/m2/After/js

# 4th
/less-getting-started/04/demos/m3/Before/3rdparty;
/less-getting-started/04/demos/m3/Before/dls
/less-getting-started/04/demos/m3/Before/img
/less-getting-started/04/demos/m3/Before/js
/less-getting-started/04/demos/m3/Before/3rdparty;
/less-getting-started/04/demos/m3/Before/dls
/less-getting-started/04/demos/m3/Before/img
/less-getting-started/04/demos/m3/Before/js

# 4th after
/less-getting-started/04/demos/m3/After/3rdparty;
/less-getting-started/04/demos/m3/After/dls
/less-getting-started/04/demos/m3/After/img
/less-getting-started/04/demos/m3/After/js
/less-getting-started/04/demos/m3/After/3rdparty;
/less-getting-started/04/demos/m3/After/dls
/less-getting-started/04/demos/m3/After/img
/less-getting-started/04/demos/m3/After/js


# 5th
/less-getting-started/05/demos/m4/Before/3rdparty;
/less-getting-started/05/demos/m4/Before/dls
/less-getting-started/05/demos/m4/Before/img
/less-getting-started/05/demos/m4/Before/js
/less-getting-started/05/demos/m4/Before/3rdparty;
/less-getting-started/05/demos/m4/Before/dls
/less-getting-started/05/demos/m4/Before/img
/less-getting-started/05/demos/m4/Before/js

# 5th after
/less-getting-started/05/demos/m4/After/3rdparty;
/less-getting-started/05/demos/m4/After/dls
/less-getting-started/05/demos/m4/After/img
/less-getting-started/05/demos/m4/After/js
/less-getting-started/05/demos/m4/After/3rdparty;
/less-getting-started/05/demos/m4/After/dls
/less-getting-started/05/demos/m4/After/img
/less-getting-started/05/demos/m4/After/js

# 6th
/less-getting-started/06/demos/m5/Before/3rdparty;
/less-getting-started/06/demos/m5/Before/dls
/less-getting-started/06/demos/m5/Before/img
/less-getting-started/06/demos/m5/Before/js
/less-getting-started/06/demos/m5/Before/3rdparty;
/less-getting-started/06/demos/m5/Before/dls
/less-getting-started/06/demos/m5/Before/img
/less-getting-started/06/demos/m5/Before/js

# 6th after
/less-getting-started/06/demos/m5/After/3rdparty;
/less-getting-started/06/demos/m5/After/dls
/less-getting-started/06/demos/m5/After/img
/less-getting-started/06/demos/m5/After/js
/less-getting-started/06/demos/m5/After/3rdparty;
/less-getting-started/06/demos/m5/After/dls
/less-getting-started/06/demos/m5/After/img
/less-getting-started/06/demos/m5/After/js